.container
  .row
    p.lead.text-center.text-danger
script(src='/assets/js/jquery.min.js')
script(src="/assets/js/semantic.min.js")
//script(src="/assets/ueditor/ueditor.config.js")
//script(src="/assets/ueditor/ueditor.all.js")    
script(src="/assets/js/myapp.js")    
