//注意路径写成绝对路径就行  所有的静态文件都在public下
link(rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css")
link(rel='stylesheet', href='/assets/css/myapp.css')
script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
script(src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js")
script(src="/assets/js/myapp.js")
