div(class="ui  top  menu")
  div(class="ui container")
    a(class="header item",href="/") 小博客2016
    a(class="item active",href="/") 首页
    a(class="item",href="/article?category=lvyou") 旅游
    a(class="item",href="/article?category=wenhua") 文化
    a(class="item",href="/article/list") 文章管理
    a(class="item",href="/member/index") 会员管理
    a(class="item",href="/comment/index") 评论管理
    div(class="right menu")
      div(class="item")
        a(class="ui button", href="/user/login") 登录 #{isLogin}
      div(class="item")
        a(class="ui primary button",href="/user/reg") 注册 #{user}
      div(class="item")
        div(class="ui category search")
          div(class="ui icon input")
            input#search(class="prompt" type="text" placeholder="请输入搜索关键字")
            i(class="search icon")
