extends ./../layout

block content
    div(class="ui  container")
        div(class="add-article")
          form#create-article(class="ui form")
            div(class="field inline")
              label 文章分类
              select#category(class="ui dropdown")
                option(value="keji") 科技
                option(value="lvyou") 旅游
                option(value="wenhua") 文化
            div(class="field inline")
              label 文章标题
              input#title(type='text', placeholder='请输入标题')
            div(class="field inline")
              label 作者名称
              input#author(type='text', placeholder='作者名称')
            div(class="field inline")
              label 文章内容
              textarea#content(type='',style="width:500px;height:200px;")
            div(class="field inline")
              label 上传缩略图
              input#fileInput.input-file(type='file',name="myfile",multiple)
              div
                img#uploadImg
            div(class="ui button submit" type="submit") 确认提交
